# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Virtual environments
venv/
.env/

# Mac / system files
.DS_Store

# VS Code
.vscode/

# Logs
*.log

# Ignore files inside folders
# data/raw/*
# data/clean/*
outputs/*

# BUT keep the placeholder files
!data/raw/.gitkeep
!data/clean/.gitkeep
!outputs/.gitkeep
!notebooks/.gitkeep